<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Baemin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>98AA1D5A1F1D97220022ED2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>98AA1D6E1F1D97220022ED2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>98AA1D791F1D97220022ED2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
